@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/static/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #f4f4f4;
    padding: 10px 20px;
    text-align: center;
    position: relative; /* Ensures absolute children are positioned relative to header */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Ensures the nav is centered in header without default margin */
    display: inline-block; /* Center nav items */
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

main {
    padding: 20px;
    text-align: center;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
}

footer {
    background-color: #f4f4f4;
    padding: 10px 20px;
    text-align: center;
}

footer p {
    font-family: 'Montserrat', sans-serif;
}

#map {
    width: 100%;
    height: 400px; /* Adjust height as needed */
}

.search-container {
    position: absolute; /* Position absolute to float over other elements */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust positioning to center exactly */
    width: 300px; /* Set a specific width */
    z-index: 1001; /* Higher z-index to be on top */
}

.search-input {
    width: 100%;
    padding: 8px 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
}

.search-input:focus {
    border-color: #007BFF; /* Focus color */
}

.search-results {
    position: absolute;
    top: 38px; /* Position directly below the input box */
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.9); /* Semi-translucent white */
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    max-height: 200px;
    overflow-y: auto;
    display: none; /* Initially hidden, shown on search */
}

.search-result-item {
    padding: 8px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-result-item:hover {
    background-color: #f8f9fa; /* Light grey background on hover */
}
